ADMIN_TOKEN= # randomly generated string of characters, for example running openssl rand -base64 48 #CHANGE_ME
WEBSOCKET_ENABLED=true
SIGNUPS_ALLOWED=true ##change to false once create the admin account
SMTP_HOST=smtp-relay.sendinblue.com #CHANGE_ME
SMTP_FROM=user@example.com ##replace example.com with your domain #CHANGE_ME
SMTP_PORT=587
SMTP_SSL=true
SMTP_USERNAME=user@example.com ##sendinblue user #CHANGE_ME
SMTP_PASSWORD=sendinblue password #CHANGE_ME
DOMAIN=https://bitwarden.example.com #replace example.com with your domain #CHANGE_ME
VAULTWARDEN_CONTAINER_NAME=vaultwarden