# All colon based stuff is <external>:<internal> -- external being the host machine, internal being the container itself.
# Ports in this instance cannot conflict and must be unique on the internal side.
# i.e. everything cannot run on port 8080

############ OTHER NOTES ############
# The system data will be placed in this project directory by default if you change nothing
# Data is placed in .containers and is .gitignored already
# arm64v8 = Apple Silicon Based Macs

name: home-media-docker
include:
  ####### NETWORK STUFF ########
  - ./compose-files/flaresolverr/flaresolverr.yml
  - ./compose-files/traefik/traefik-compose.yml
  - ./compose-files/authentik/authentik.yml
  - ./compose-files/vpn/vpn.yml
  - ./compose-files/transmission/transmission.yml ##  --profile vpn
  - ./compose-files/duplicati/duplicati.yml ## --profile vpn
  - ./compose-files/pihole/pihole.yml ## --profile vpn
  - ./compose-files/firefox/firefox.yml ## local browser

  ####### NOTES ########
  - ./compose-files/bookstack/bookstack.yml

  ####### CONTAINER MANAGEMENT ########
  - ./compose-files/portainer/portainer.yml

  ####### MEDIA CONSUMPTION ########
  - ./compose-files/emby/emby.yml ## --profile emby
  - ./compose-files/plex/plex.yml ## --profile plex
  - ./compose-files/jellyfin/jellyfin.yml ## --profile jellyfin
  - ./compose-files/komga/komga.yml
  - ./compose-files/navidrome/navidrome.yml
  - ./compose-files/tdarr/tdarr.yml

  ####### MEDIA MANAGEMENT ########
  - ./compose-files/jellyseerr/jellyseerr.yml
  - ./compose-files/sonarr/sonarr.yml
  - ./compose-files/radarr/radarr.yml
  - ./compose-files/lidarr/lidarr.yml
  - ./compose-files/prowlarr/prowlarr.yml
  - ./compose-files/jackett/jackett.yml ## --profile jackett

  ####### DASHBOARDS ########
  - ./compose-files/dashy/dashy.yml
  - ./compose-files/heimdall/heimdall.yml ## --profile heimdall

  ####### DOCKER VOLUMES AND NETWORK CONFIG ########
  - ./compose-files/optional-mounted-volumes.yml
  - ./compose-files/networks.yml

  ######## HOME AUTOMATION CONTAINERS #############
  - ./compose-files/homeassistant/homeassistant.yml
  - ./compose-files/zwavejs/zwavejs.yml
  - ./compose-files/zigbee2mqtt/zigbee2mqtt.yml

  ######### OTHER HOME CONTAINERS ###############
  - ./compose-files/homebox/homebox.yml

  ######## FAMILY STUFF ###################
  - ./compose-files/mealie/mealie.yml
  - ./compose-files/mattermost/mattermost.yml
  - ./compose-files/wallos/wallos.yml

  ######## PASSWORD MANAGER ###################
  - ./compose-files/vaultwarden/vaultwarden.yml

  ######## STEAM RECOMMENDER ###################
  - ./compose-files/steam-recommender/steam-recommender.yml
